body{
    margin: 0;
    padding: 0;
    background: #1D2123;
}

#div{
    background-image: url('./assets/Vector.svg');
    background-repeat: no-repeat;
    background-position: 250px ;
    background-size: 800px 1000px;
}

#logout{
    color: gray;
    cursor: pointer;
}

#logout:hover{
    color: #FACD66;
    transition: 500ms;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  
  .swiper-slide {
   width: 12% !important;
  }

  .btn{
    border:1px solid gray;
    color:gray;
  }

  #bar{
    background-color:#FACD66 !important;
  }